<% layout("/layouts/boilerplate") %> <br />
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit your details</h3>
    <br />
    <form
      action="/listings/<%=listings._id%>?_method=PUT"
      method="POST"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          placeholder="enter title"
          value="<%= listings.title %>"
          required
        />
        <div class="invalid-feedback">Enter a title</div>
      </div>
      <div class="mb-3">
        <p>Original Image</p>
        <img class="originalImg" src="<%= originalImage %>" />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image </label>
        <input
          class="form-control"
          type="file"
          name="listing[image]"
          value="<%= listings.image %>"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          placeholder="enter description"
          value="<%= listings.description %>"
          required
        ></textarea>
        <div class="invalid-feedback">Please Enter a short Description</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            class="form-control"
            type="number"
            name="listing[price]"
            placeholder="enter price"
            value="<%= listings.price %>"
            required
          />
          <div class="invalid-feedback">Please Enter a valid Price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            class="form-control"
            type=" text"
            name="listing[country]"
            placeholder="enter country"
            value="<%= listings.country %>"
            required
          />
          <div class="invalid-feedback">Please Enter a country</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          class="form-control"
          type=" text"
          name="listing[location]"
          placeholder="enter location"
          value="<%= listings.location %>"
          required
        />
        <div class="invalid-feedback">Please Enter a valid Location</div>
      </div>

      <button class="btn btn1 btn-dark">Edit</button>
    </form>
  </div>
</div>
